@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Veterinaria ""WebAppVet""</h2>
    <p class="lead">Bienvenidos al Sistema Veterinario</p>
    <!-- <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p> -->
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Sacar Turno</h2>
        <p>
            Se podrá solicitar un turno.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Ingresar &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Ventas</h2>
        <p>
            Aquí se realiza ventas.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Ingresar &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Inventario</h2>
        <p>
            Control de Stock 
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Ingresar &raquo;</a></p>
    </div>
</div>